.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    background: $quaternary;
    font-size: 2rem;
    color: $primary;
    line-height: 3.2rem;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover,
    &:focus {
        background: $primary;
        color: $quaternary;
        border: 1px solid $quaternary;
    }
}

a {
    text-decoration: none;
}