.headerBlog {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
    margin-bottom: 15%;

    h2 {
        position: absolute;
        bottom: 35%;
    }
}

.contentParent {
    display: flex;
    justify-content: space-between;

    .postParent {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        position: relative;
        &::before {
            content: "";
            width: 5px;
            height: 100%;
            background-color: $secondary;
            position: absolute;
            right: -15px;
        }&::after {
            content: "";
            width: calc(100% + 15px);
            height: 5px;
            background-color: $secondary;
            position: absolute;
            bottom: 0px;
        }
        
        .blogImage {
            position: absolute;
            top: -480px;
            z-index: 20;
            object-fit: cover;
            width: 100%;
            box-shadow: 15px 15px $secondary;
        }

        .postContent {
            margin-top: 15%;
            padding-top: 10%;
            flex-wrap: wrap;
        
            h4 {
                letter-spacing: 3.2px;
            }

            h5 {
                font-size: 1.4rem;
                font-style: italic;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }

    .missionParent {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;

        h5 {
            font-size: 2.5rem;
            letter-spacing: 3.2px;
        }

        li {
            list-style-type: disc;
            color: $secondary;
        }

        a {
            color: $senary;
            padding-left: 5px;
            
        }
    }
}

.userSubmitParent {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 0;
    margin-left: 5%;
}  
    

.userComments {
    display: flex;
    flex-direction: column;
    position: relative;

    h3 {
        color: $senary;
        font-size: 2.5rem;
    }

    .userOne,
    .userTwo {
        display: flex;
        align-content: center;
        margin: 30px 0;

        .userImage {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 0;
            align-self: center;
            
        }

        .userComment {
            display: flex;
            flex-direction: column;
            padding-left: 15%;
            flex-basis: 60%;

            h5 {
                font-size: 1.8rem;
                letter-spacing: 2.5px;
                font-weight: 400;
                line-height: 1.5rem;
            }

            p {
                margin: 0;
            }
        }
    }
}

form {
    width: 60%;
}

.footerBlog {
    background-image: none;
    max-height: 50px;
}
