@media (max-width: 100vw) {
    .mainNav .dropdown {
        visibility: hidden;
    }
}

@media (max-width: 1215px) {
    // Home Page Styling
    .headerHome {
        position: relative;

        .headerContent {
            flex-direction: column;
        }

        .headerImage img {
            width: 550px;
            position: absolute;
            bottom: -5%;
        }

        .headerText {
            position: absolute;
            bottom: 40%;
            left: 35%;

            h1 {
                font-size: 9rem;
            }

            h3 {
                font-size: 5rem;
            }
        }        
    }
}

@media (max-width: 1000px) {
    // Home Page Styling
    .headerHome,
    .headerBlog,
    .headerContact {
        position: relative;

        .mainNav .desktopNav {
            display: none;
        }

        .mainNav .dropdown {
            visibility: visible;
            display: flex;
            flex-direction: column;

            i {
                color: $secondary;
                cursor: pointer;
                font-size: 4rem;
                margin-bottom: 10px;
                align-self: flex-end;
                display: flex;
            }

            li {
                display: block;
                width: 150px;
                padding-left: 5px;
                text-align: center;
                transition: .5s;
                visibility: hidden;
                transition: all 0.5s ease;
                padding-top: 10px;
                background: $secondary;
                &:hover,
                &:focus {
                    cursor: pointer;
                    background: $primary;

                    a {
                        color: $secondary;
                    }
                }
            }
        }

        .mainNav {
            display: flex;
            justify-content: flex-end;

            ul:focus > li,
            ul:hover > li {
                visibility: visible;
            }

        }

        .headerImage img {
            width: 500px;
            position: absolute;
            bottom: -1%;
        }

        .headerText {
            position: absolute;
            left: 20%;

            h1 {
                font-size: 7rem;
            }

            h3 {
                font-size: 4rem;
            }
        }        
    }

    .aboutParent {
        flex-direction: column;
        text-align: center;

        .aboutImage {
            margin: 10% 0;
        }
    }
    
    .infoParent {
        
        .info1Parent i,
        .info2Parent i {
            font-size: 2rem;
        }
    }

    .blog {
        flex-direction: column;

        article {

            .blogOneImage {
                position: revert;
                top: 0;
                margin-top: 0;          
                box-shadow: 0px 15px #50E3C2;
            }

            .blogOneInfo {
                text-align: center;
                padding-top: 0;
                margin: 10%;
            }
        }

        .blogTwoParent {
            flex-direction: column;
            margin-left: 0;
            
            .blogTwoImage {
                position: revert;
                bottom: 0;
                margin-top: 0;          
                box-shadow: 0px 15px #50E3C2;
            }

            .blogTwoInfo {
                text-align: center;
                padding-bottom: 0;
                margin: 10% 10% 0 10%;
            }
        }
    }

    footer {
        .homeFooterContent {
            padding-top: 60%;
        }
    }

    // Blog Page Styling
    .headerBlog h2 {
        position: revert;
        padding-top: 15%;
        text-align: center;
    }

    .contentParent {
        flex-direction: column;

        .postParent {
            display: flex;
            &::before,
            &::after {
                display: none;
            }

            .blogImage {
                width: 80%;
                top: -20%;        
                box-shadow: none;
                border: 15px solid $secondary;
                align-self: center;
            }

            .postContent {
                padding-top: 15%;
            }
        }
    }

    .missionImage {
        width: 60%;
        border: 15px solid $secondary;
        align-self: center;
        margin-top: 10%;
    }

    .missionContent {
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding-top: 10%;
    }

    .userSubmitParent {
        margin: 0 auto;
        width: 80%;
    }

    .userComments {
        margin-top: 10%;

        .userOne,
        .userTwo {
            .userComment {
                padding-left: 30%;
                flex-basis: 100%;

                h5 {
                    line-height: 4rem;
                }

                p {
                    line-height: 3rem;
                }
            }
        }
    }

    form {
        width: 100%;
        margin: 0 auto;
        padding-top: 10%;   

        .userDetails {
            flex-direction: column;

            input {
                width: 100%;
            }
        }
    }

    //Contact Page Styling
    .headerContact h2 {
        position: revert;
        padding-top: 5%;
        text-align: center;
    }
    .contactParent {
        flex-direction: column;

        .contactForm {
            width: 80%;
            align-self: center;
            top: -400px;        
            box-shadow: none;
            border: 15px solid $secondary;
        }

        .infoParent {
            position: revert;
            padding-top: 25%;
            width: 100%;
        }
    }

}