html {
    font-size: 62.5%;
}

body {
    font-family: $mainFont;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3.2rem;
    letter-spacing: 2px;
    background-color: $primary;
}

ul {
    list-style: none;
}

.skipLink {
    position: absolute;
    left: -500px;
    top: 5px;
    z-index: 90;
    background-color: $primary;
    color: $quinternary;
}

.skipLink:focus {
    left: 0;
}

// move to media if doing mobile-first
.mainNav {
    flex-basis: 50%;
}
.mainNav li {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 0 0 30px;
}

.mainNav a {
    text-decoration: none;
    color: $primary;
}

.mainNav a:hover {
    color: $secondary;
}

// .mainNav {
//     display: none;
// }

.logo {
    text-decoration: none;
    font-size: 3.46rem;
    color: $secondary;
    padding-top: 15px;
}

.logo,
h1,
button {
    font-family: $styleFont;
}

h4,
h5,
h6 {
    font-family: $mainFont;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 6.2rem;
    color: $quinternary;
    font-weight: 700;
    line-height: 5.8px;
    letter-spacing: 6.7px;
}

h1 {
    font-size: 11.12rem;
    color: $quaternary;
    margin: 10px 0 0 0;
}

h4 {
    color: $quinternary;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 6.7px;
}

h6 {
    font-size: 3rem;
    line-height: 58px;
    letter-spacing: 3.2px;
    color: $quinternary;
}

h5 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 6.7px;
    color: $quaternary;
}

h2 {
    color: $primary;
    font-size: 7.8rem;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 6.7px;
}
