@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/baseStyles";
@import "./partials/nav";
@import "./partials/forms";
@import "./partials/homePage";
@import "./partials/blogPage";
@import "./partials/contactPage";
@import "./partials/mediaQueries";


