html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.2rem;
  letter-spacing: 2px;
  background-color: #FAFFFE;
}

ul {
  list-style: none;
}

.skipLink {
  position: absolute;
  left: -500px;
  top: 5px;
  z-index: 90;
  background-color: #FAFFFE;
  color: #0C5F4C;
}

.skipLink:focus {
  left: 0;
}

.mainNav {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.mainNav li {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0 0 0 30px;
}

.mainNav a {
  text-decoration: none;
  color: #FAFFFE;
}

.mainNav a:hover,
.mainNav a:focus {
  color: #50E3C2;
}

.logo {
  text-decoration: none;
  font-size: 3.46rem;
  color: #50E3C2;
  padding-top: 15px;
}

.logo,
h1,
button {
  font-family: "Playfair Display SC", serif;
}

h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 6.2rem;
  color: #0C5F4C;
  font-weight: 700;
  line-height: 5.8px;
  letter-spacing: 6.7px;
}

h1 {
  font-size: 11.12rem;
  color: #063974;
  margin: 10px 0 0 0;
}

h4 {
  color: #0C5F4C;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 6.7px;
}

h6 {
  font-size: 3rem;
  line-height: 58px;
  letter-spacing: 3.2px;
  color: #0C5F4C;
}

h5 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 6.7px;
  color: #063974;
}

h2 {
  color: #FAFFFE;
  font-size: 7.8rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 6.7px;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  background: #063974;
  font-size: 2rem;
  color: #FAFFFE;
  line-height: 3.2rem;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background: #FAFFFE;
  color: #063974;
  border: 1px solid #063974;
}

a {
  text-decoration: none;
}

.navParent,
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  height: 90vh;
  width: auto;
  background-size: cover;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  margin-top: 5%;
}
form .userDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .userDetails input {
  width: calc(50% - 30px);
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding: 15px 0 15px 15px;
  font-family: "Lato", sans-serif;
}
form .userDetails input::-webkit-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form .userDetails input::-moz-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form .userDetails input:-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form .userDetails input::-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form .userDetails input::placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form .userDetails input:focus, form .userDetails input:active {
  border: 2px solid #D2F9F1;
}
form textarea {
  border: 2px solid #50E3C2;
  margin: 30px 0 30px 0;
  font-family: "Lato", sans-serif;
  padding: 15px 0 0 15px;
  resize: none;
}
form textarea::-webkit-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form textarea::-moz-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form textarea:-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form textarea::-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}
form textarea::placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

.headerHome {
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  margin-bottom: 15%;
}
.headerHome .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headerHome .headerImage {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -10%;
}
.headerHome .headerText {
  text-align: left;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: absolute;
  left: 30%;
  bottom: 30%;
  padding-top: 10%;
}

.aboutParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}
.aboutParent .aboutContent {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-right: 20px;
}
.aboutParent .aboutImage {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery {
  background: #D2F9F1;
  padding: 5% 0;
}
.gallery .galleryParent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0;
}
.gallery .galleryParent ul li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.infoParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 0;
  padding: 5% 0;
}
.infoParent .info1Parent,
.infoParent .info2Parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.infoParent .info1Parent .info1Child1,
.infoParent .info1Parent .info1Child2,
.infoParent .info1Parent .info2Child1,
.infoParent .info1Parent .info2Child2,
.infoParent .info2Parent .info1Child1,
.infoParent .info2Parent .info1Child2,
.infoParent .info2Parent .info2Child1,
.infoParent .info2Parent .info2Child2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.infoParent .info1Parent i,
.infoParent .info2Parent i {
  color: #50E3C2;
  font-size: 3rem;
  position: absolute;
  margin-right: 15px;
  top: 15px;
  left: 5px;
}
.infoParent .info1Parent .info1Child1Content,
.infoParent .info1Parent .info1Child2Content,
.infoParent .info1Parent .info2Child1Content,
.infoParent .info1Parent .info2Child2Content,
.infoParent .info2Parent .info1Child1Content,
.infoParent .info2Parent .info1Child2Content,
.infoParent .info2Parent .info2Child1Content,
.infoParent .info2Parent .info2Child2Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10%;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #D2F9F1;
  padding: 8% 0;
}
.blog article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  position: relative;
}
.blog article .blogOneImage {
  position: absolute;
  top: -30%;
  margin-top: 5%;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}
.blog article .blogOneInfo {
  text-align: right;
  padding-top: 40%;
  margin: 10% 0 0 10%;
}
.blog .blogTwoParent {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: 10%;
}
.blog .blogTwoParent .blogTwoImage {
  position: absolute;
  bottom: -30%;
  right: 0;
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
  z-index: 20;
}
.blog .blogTwoParent .blogTwoInfo {
  padding-bottom: 40%;
  margin: 0 10% 10% 0;
}

footer {
  background-image: url(../assets/banner-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
footer .footerContent {
  padding-top: 45%;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.copyrightInfo {
  margin: 10% 0 2% 0;
}
.copyrightInfo a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  border-top: 0.5px solid #0C5F4C;
  color: #2C2C2C;
}

.headerBlog {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  margin-bottom: 15%;
}
.headerBlog h2 {
  position: absolute;
  bottom: 35%;
}

.contentParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contentParent .postParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
}
.contentParent .postParent::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #50E3C2;
  position: absolute;
  right: -15px;
}
.contentParent .postParent::after {
  content: "";
  width: calc(100% + 15px);
  height: 5px;
  background-color: #50E3C2;
  position: absolute;
  bottom: 0px;
}
.contentParent .postParent .blogImage {
  position: absolute;
  top: -480px;
  z-index: 20;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}
.contentParent .postParent .postContent {
  margin-top: 15%;
  padding-top: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contentParent .postParent .postContent h4 {
  letter-spacing: 3.2px;
}
.contentParent .postParent .postContent h5 {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
}
.contentParent .missionParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.contentParent .missionParent h5 {
  font-size: 2.5rem;
  letter-spacing: 3.2px;
}
.contentParent .missionParent li {
  list-style-type: disc;
  color: #50E3C2;
}
.contentParent .missionParent a {
  color: #2C2C2C;
  padding-left: 5px;
}

.userSubmitParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 30px 0;
  margin-left: 5%;
}

.userComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.userComments h3 {
  color: #2C2C2C;
  font-size: 2.5rem;
}
.userComments .userOne,
.userComments .userTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 30px 0;
}
.userComments .userOne .userImage,
.userComments .userTwo .userImage {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.userComments .userOne .userComment,
.userComments .userTwo .userComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.userComments .userOne .userComment h5,
.userComments .userTwo .userComment h5 {
  font-size: 1.8rem;
  letter-spacing: 2.5px;
  font-weight: 400;
  line-height: 1.5rem;
}
.userComments .userOne .userComment p,
.userComments .userTwo .userComment p {
  margin: 0;
}

form {
  width: 60%;
}

.footerBlog {
  background-image: none;
  max-height: 50px;
}

.headerContact {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  margin-bottom: 15%;
}
.headerContact h2 {
  position: absolute;
  bottom: 35%;
}

a {
  color: #2C2C2C;
}

.contactParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.contactParent .contactForm {
  width: 65%;
  position: absolute;
  top: -480px;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  z-index: 20;
  background: #FAFFFE;
  padding: 30px;
}
.contactParent .infoParent {
  width: 25%;
  margin-left: 10%;
  position: absolute;
  right: 0;
  top: -280px;
}
.contactParent .infoParent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 0;
  color: #2C2C2C;
}
.contactParent .infoParent ul li {
  padding-right: 15px;
}
.contactParent .infoParent address {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
.contactParent .infoParent address a {
  font-weight: 700;
  padding-bottom: 10%;
}
.contactParent .infoParent address p {
  font-size: 1.5rem;
  line-height: 8px;
}

.footerContact {
  background-image: none;
  max-height: 50px;
}

@media (max-width: 1215px) {
  .headerHome {
    position: relative;
  }
  .headerHome .headerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerHome .headerImage img {
    width: 650px;
    position: absolute;
    bottom: -5%;
  }
  .headerHome .headerText {
    position: absolute;
    bottom: 40%;
    left: 35%;
  }
  .headerHome .headerText h1 {
    font-size: 9rem;
  }
  .headerHome .headerText h3 {
    font-size: 5rem;
  }
}